
/*========== Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Staatliches&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;

    /*========== Colors ==========*/
	--gelo:#E5E5E5;
	--azul: #8a7eb8;
	--preto: #000000;
	--branco: #ffffff;
    --rosa: #FF5374;
    --grafite: #535971;

    /*========== Fonts ==========*/
    --fonte-poppins: 'Poppins';
    --fonte-Staatliches: 'Staatliches';
}

/*========== gerais ==========*/
body{
    background-color: var(--gelo);
    min-height: 100vh;
    min-width: 100vw;
    font-weight: 400;
    overflow-x: hidden;
}
    
/*========== header ==========*/
header.cabecalho{
    display: flex;
    background-color: var(--grafite);
    min-height: 52vh;
    width: 100vw;
}

header.cabecalho > div{
    display: block;
    
    transform: translateY(-3vh);
    width: 50vw;
    margin: auto;
    bottom: 0px;
}

header.cabecalho > div > h1{
    font-family: var(--fonte-Staatliches);
    color: var(--branco);
    font-size: 35px;
}

header.cabecalho > div > p{
    font-family: var(--fonte-poppins);
    width: 25vw;
    color: var(--branco);
    font-weight: 300;
    padding-top:20px;
    font-size: 20px;
    line-height: 1.5em;
}

/*========== Form ==========*/
section .form{
    background-color: var(--branco);
    width: 50vw;
    margin: auto;
    height: 100vh;
    margin-top: -15vh;
    margin-bottom: 23vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}


div .inputBox{
    width: 38vw;
    height: 38vh;
    margin: 55px auto 0px auto;
}

div.titulo-sec{
    font-family: var(--fonte-Staatliches);
    font-size: 30px;
    font-weight: 400;
    color: var(--grafite);
    height: 5vh;
    border-bottom: 1px solid rgb(197, 197, 197);
}

div.campos-form{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

div.nome{
    margin-right: 4%;
    width: 48%;
}
div.sobrenome{
    width: 48%;
}

div.campos-form div input{
    display: inline-block;
    border: 1px solid #c7c7c7;
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    background-color: #fbfbfb;
    margin-top: 10px;
}

div.campos-form label{
    font-family: var(--fonte-poppins);
    font-size: 14px;
}

.label-info{
    margin-top: 20px;
}

.info-email{
    width: 100%;
    margin-top: 20px;
}
.info-senha{
    width: 100%;
}

